specs/asterix.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by Marian Krivos (Ads) -->
<!--W3C Schema generated by XMLSpy v2017 sp2 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="Category">
		<xs:sequence>
			<xs:element ref="DataItem" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="UAP" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="ver" use="required"/>
	</xs:complexType>
	<xs:element name="Category" type="Category"/>
	<xs:complexType name="Bits">
		<xs:sequence>
			<xs:element ref="BitsShortName" minOccurs="0"/>
			<xs:element ref="BitsName" minOccurs="0"/>
			<xs:choice>
				<xs:element ref="BitsConst"/>
				<xs:element ref="BitsValue" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="BitsUnit"/>
				<xs:element ref="BitsPresence"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="bit" default="0"/>
		<xs:attribute name="from" default="0"/>
		<xs:attribute name="to" default="0"/>
		<xs:attribute name="encode" default="unsigned">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="hex"/>
					<xs:enumeration value="ascii"/>
					<xs:enumeration value="octal"/>
					<xs:enumeration value="signed"/>
					<xs:enumeration value="unsigned"/>
					<xs:enumeration value="6bitschar"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="fx" default="0"/>
		<xs:attribute name="rep" default="0"/>
	</xs:complexType>
	<xs:element name="Bits" type="Bits"/>
	<xs:complexType name="BitsShortName" mixed="true"/>
	<xs:element name="BitsShortName" type="BitsShortName"/>
	<xs:complexType name="BitsName" mixed="true"/>
	<xs:element name="BitsName" type="BitsName"/>
	<xs:complexType name="BitsValue" mixed="true">
		<xs:attribute name="val" default="0"/>
	</xs:complexType>
	<xs:element name="BitsValue" type="BitsValue"/>
	<xs:complexType name="BitsConst" mixed="true"/>
	<xs:element name="BitsConst" type="BitsConst"/>
	<xs:complexType name="BitsPresence" mixed="true"/>
	<xs:element name="BitsPresence" type="BitsPresence"/>
	<xs:complexType name="BitsUnit" mixed="true">
		<xs:attribute name="scale" default="1"/>
		<xs:attribute name="min" default="0"/>
		<xs:attribute name="max" default="0"/>
	</xs:complexType>
	<xs:element name="BitsUnit" type="BitsUnit"/>
	<xs:complexType name="DataItem">
		<xs:sequence>
			<xs:element ref="DataItemName"/>
			<xs:element ref="DataItemDefinition"/>
			<xs:element ref="DataItemFormat"/>
			<xs:element ref="DataItemNote" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" use="required"/>
		<xs:attribute name="rule" default="unknown">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="unknown"/>
					<xs:enumeration value="optional"/>
					<xs:enumeration value="mandatory"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="DataItem" type="DataItem"/>
	<xs:complexType name="DataItemName" mixed="true"/>
	<xs:element name="DataItemName" type="DataItemName"/>
	<xs:complexType name="DataItemDefinition" mixed="true"/>
	<xs:element name="DataItemDefinition" type="DataItemDefinition"/>
	<xs:complexType name="DataItemNote" mixed="true"/>
	<xs:element name="DataItemNote" type="DataItemNote"/>
	<xs:complexType name="DataItemFormat">
		<xs:choice>
			<xs:element ref="Fixed"/>
			<xs:element ref="Explicit"/>
			<xs:element ref="Repetitive"/>
			<xs:element ref="Variable"/>
			<xs:element ref="Compound"/>
		</xs:choice>
		<xs:attribute name="desc" default=""/>
	</xs:complexType>
	<xs:element name="DataItemFormat" type="DataItemFormat"/>
	<xs:complexType name="Fixed">
		<xs:sequence>
			<xs:element ref="Bits" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="length" default="1"/>
	</xs:complexType>
	<xs:element name="Fixed" type="Fixed"/>
	<xs:complexType name="Explicit">
		<xs:choice>
			<xs:element ref="Fixed"/>
			<xs:element ref="Explicit"/>
			<xs:element ref="Repetitive"/>
			<xs:element ref="Variable"/>
			<xs:element ref="Compound"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Explicit" type="Explicit"/>
	<xs:complexType name="Repetitive">
		<xs:sequence>
			<xs:element ref="Fixed" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Repetitive" type="Repetitive"/>
	<xs:complexType name="Variable">
		<xs:sequence>
			<xs:element ref="Fixed" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Variable" type="Variable"/>
	<xs:complexType name="Compound">
		<xs:sequence>
			<xs:element ref="Variable"/>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="Fixed"/>
				<xs:element ref="Explicit"/>
				<xs:element ref="Repetitive"/>
				<xs:element ref="Variable"/>
				<xs:element ref="Compound"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Compound" type="Compound"/>
	<xs:complexType name="UAP">
		<xs:sequence>
			<xs:element ref="UAPItem" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use_if_bit_set" default="0"/>
		<xs:attribute name="use_if_byte_nr" default="0"/>
		<xs:attribute name="is_set_to" default="0"/>
	</xs:complexType>
	<xs:element name="UAP" type="UAP"/>
	<xs:complexType name="UAPItem" mixed="true">
		<xs:attribute name="bit" use="required"/>
		<xs:attribute name="presence" use="required"/>
	</xs:complexType>
	<xs:element name="UAPItem" type="UAPItem"/>
</xs:schema>
